.flex.items-center.justify-center
  %span
    Made with
  %span.relative.w-4.h-4.mx-1.group.cursor-none
    = heroicon_tag("heart", class: "absolute w-4 h-4 transition-colors text-slate-800 group-hover:text-red-600 duration-300")
    = heroicon_tag("heart", class: "absolute w-4 h-4 text-red-600 opacity-0 transition-opacity group-hover:opacity-100 group-hover:animate-ping duration-300")
  %span
    by
  %span.ml-1
    = link_to "Profoundry", "https://profoundry.us", target: "_blank", class: "link"
  %span.ml-0.5
    = "."

%div.text-center
  Copyright © 2023-#{Time.now.year} Profoundry LLC.

%div.text-center
  All rights reserved.
