%turbo-frame#navmenu{ target: "content" }
  %ul.menu.p-4
    - # Hard-coded pages
    %li.menu-title.text-lg.text-base-content
      Pages

    %li.pl-4
      = link_to "Home", root_path,
        class: (request.original_url == root_url) ? "active" : "",
        data: { action: "click->nav#activate", "turbo-action": "replace" }

    - # Iterate over all of the framework examples
    - last_framework, last_section = nil
    - Daisy::COMPONENT_HELPERS.each do |name, comp|
      - framework, section, component = comp.underscore.split('/')

      - if framework != last_framework
        - last_framework = framework
        %li.menu-title.text-lg.text-base-content
          = framework.titleize

      - # Don't show a section heading if the component doesn't have one
      - if section != last_section && component.present?
        - last_section = section
        %li.pl-4.menu-title{ class: "text-base-content/50" }
          = section.titleize

      %li.pl-4
        - comp_path = "/examples/#{comp.underscore.sub('_component', '')}"
        = link_to name.to_s.pluralize.titleize, comp_path,
          class: request.original_url.match(comp_path) ? "active" : "",
          data: { action: "click->nav#activate", "turbo-action": "replace" }
