= part(:component) do
  - if legend?
    = legend
  - elsif @simple_legend
    = part(:legend) { @simple_legend }

  -# Render the main content passed to the component block
  = content

  -# Render the caption / helper text (.fieldset-label) below the content
  - if caption?
    = caption
  - elsif @simple_caption
    = part(:caption) { @simple_caption }
