= part(:component) do
  = part(:hidden_input)

  - if items?
    - items.each do |item|
      - item.set_loco_parent(component_ref)
      = item
  - elsif content?
    = content
  - elsif star_items.present?
    - star_items.each do |item|
      - item.set_loco_parent(component_ref)
      = render(item)
