- if has_any_label?
  = part(:label_wrapper) do
    - if has_start_label?
      - if start?
        = start
      - else
        = part(:start) do
          = @start

    - if has_floating_label?
      - if floating?
        = floating
      - else
        = part(:floating) do
          = @floating

    = render_component

    - if has_end_label?
      - if end?
        = self.send(:end)
      - else
        = part(:end) do
          = @end

- else
  = render_component
