- if has_any_label?
  = part(:label_wrapper) do
    - if has_leading_label?
      - if leading?
        = leading
      - else
        = part(:leading) do
          = @leading

    - if has_floating_label?
      - if floating?
        = floating
      - else
        = part(:floating) do
          = @floating

    = part(:component)

    - if has_trailing_label?
      - if trailing?
        = trailing
      - else
        = part(:trailing) do
          = @trailing

- else
  = part(:component)
