= doc_title(title: "Artboards", comp: @comp) do |title|
  :markdown
    Artboards provide a fixed size container to display a demo content mimicing
    mobile screens.

    The `artboard-demo` class provides some basic styling to show the size for
    the examples.

    The examples below are dynamically-generated with the following list of
    phone sizes.

  = doc_code(language: "ruby") do
    :escaped
      phones = [
        { name: "phone-1", width: 320, height: 568 },
        { name: "phone-2", width: 375, height: 667 },
        { name: "phone-3", width: 414, height: 736 },
        { name: "phone-4", width: 375, height: 812 },
        { name: "phone-5", width: 414, height: 896 },
        { name: "phone-6", width: 320, height: 1024 }
      ]

- phones = [ { name: "phone-1", width: 320, height: 568 },
             { name: "phone-2", width: 375, height: 667 },
             { name: "phone-3", width: 414, height: 736 },
             { name: "phone-4", width: 375, height: 812 },
             { name: "phone-5", width: 414, height: 896 },
             { name: "phone-6", width: 320, height: 1024 } ]

- phones.each do |phone|
  = doc_example(title: "Artboard (#{phone[:name]})") do |doc|
    = daisy_artboard(css: "#{phone[:name]} artboard-demo") do
      #{phone[:width]}×#{phone[:height]}

  = doc_example(title: "Artboard (#{phone[:name]}) - Horizontal") do |doc|
    = daisy_artboard(css: "artboard-horizontal #{phone[:name]} artboard-demo") do
      #{phone[:height]}×#{phone[:width]}
