= doc_title(title: "Heroes", comp: @comp) do |title|
  :markdown
    Heroes are used to provide a large, eye-catching introduction to a page or
    site. They are responsive by default and will stack on smaller screens.


= doc_example(title: "Basic Hero") do |doc|
  - doc.with_description do
    :markdown
      The basic hero is a simple hero with a title and a subtitle.

  = daisy_hero(css: "max-w-[1000px] mx-16 lg:mx-32 bg-base-200 text-center") do
    - # Heroes display their children in a flex column by default
    %div
      %h1.text-5xl.font-bold
        Hello, World!
      %p.my-6
        Welcome to the world of LocoMotion.
      = daisy_button(css: "btn btn-primary", title: "Get Started", href: "/")


= doc_example(title: "Heroes with Images", example_css: "flex-col! gap-8") do |doc|
  - doc.with_description do
    :markdown
      You can add an image to the hero by making it the first or last child.

      You can also change the layout of the hero by passing a
      `content_wrapper_css` to make it responsive or add other styling.

  = daisy_hero(css: "block max-w-[1000px] mx-16 py-8 lg:mx-32 bg-base-200") do
    %img.h-40.rounded{ src: image_path('landscapes/mountain-river.jpg'), alt: "Beautiful Landscape" }

    %div
      %h1.text-5xl.font-bold
        Hello, World!
      %p.my-6
        Welcome to the world of LocoMotion.
      = daisy_button(css: "btn btn-primary", title: "Get Started", href: "/")

  = daisy_hero(css: "block max-w-[1000px] mx-16 py-8 lg:mx-32 bg-base-200") do
    %div
      %h1.text-5xl.font-bold
        Hello, World!
      %p.my-6
        Welcome to the world of LocoMotion.
      = daisy_button(css: "btn btn-primary", title: "Get Started", href: "/")

    %img.h-40.rounded{ src: image_path('landscapes/mountain-river.jpg'), alt: "Beautiful Landscape" }


= doc_example(title: "Hero with Overlay", example_css: "px-16!") do |doc|
  - doc.with_description do
    :markdown
      The Hero component provides an `overlay` slot allowing you to add a
      semi-transparent background to the hero and apply other effects (such as a
      blur).

  - image = image_path("landscapes/mountain-river.jpg")
  - fix_for_v5_bug = "z-0"
  = daisy_hero(css: "max-w-[1000px] mx-16 lg:mx-32 bg-base-200 min-h-96", content_wrapper_css: fix_for_v5_bug, html: { style: "background-image: url('#{image}')" }) do |hero|
    - hero.with_overlay(css: "bg-black/50 backdrop-blur-xs")

    %div.text-white
      %h1.text-5xl.font-bold
        Hello, World!
      %p.my-6
        Welcome to the world of LocoMotion.
      = daisy_button(css: "btn btn-accent", title: "Get Started", href: "/")
