= part(:component) do
  - if @checkbox
    %input{ type: "checkbox" }

  - if has_title?
    = part(:title) do
      - if title?
        = title
      - else
        = @simple_title

  = part(:wrapper) do
    = content
