= part(:component) do
  - if @event_index.present? && @event_index > 0
    = part(:separator)

  - if start?
    = start
  - elsif @simple_start
    = part(:start) do
      = @simple_start

  - if middle?
    = middle
  - elsif @simple_middle
    = part(:middle) do
      = @simple_middle
  - elsif @simple_middle_icon
    = part(:middle) do
      = hero_icon(@simple_middle_icon, **rendered_html(:simple_middle_icon))

  - if end?
    - # end is a reserved word in Ruby, so we have to use send to call it
    = self.send(:end)
  - elsif @simple_end
    = part(:end) do
      = @simple_end

  - if @events_length.present? && @event_index.present? && @event_index < @events_length - 1
    = part(:separator)
