= part(:component) do
  - if @event_index.present? && @event_index > 0
    = part(:separator)

  - if leading?
    = leading
  - elsif @simple_leading
    = part(:leading) do
      = @simple_leading

  - if middle?
    = middle
  - elsif @simple_middle
    = part(:middle) do
      = @simple_middle
  - elsif @simple_middle_icon
    = part(:middle) do
      = loco_icon(@simple_middle_icon, **rendered_html(:middle_icon))

  - if trailing?
    = trailing
  - elsif @simple_trailing
    = part(:trailing) do
      = @simple_trailing

  - if @events_length.present? && @event_index.present? && @event_index < @events_length - 1
    = part(:separator)
