-# The toggle is a sibling *before* the megamenu so it stays visible (and
-# clickable) while the collapsed megamenu is hidden on small screens.
- if show_toggle?
  = part(:toggle) do
    - if toggle?
      = toggle
    - else
      = toggle_text

= part(:component) do
  - items.each do |item|
    = item

  = part(:active_indicator)
