= doc_title(title: "Tooltips") do |title|
  :markdown
    Tooltips can be utilized with many existing components by addin the
    `tooltip` class, and using the `data-tip` attribute to set the text of the
    tooltip.


= doc_example(title: "Component Tooltips") do |doc|
  - doc.with_description do
    :markdown
      Tooltips can also be added to many components by adding the `tooltip`
      class and setting the `data-tip` attribute to the text you want to
      display.

  .flex.flex-col.gap-8
    .flex.items-center.justify-center.gap-4
      = daisy_button(title: "Hover Me", css: "btn-primary tooltip", html: { data: { tip: "This is a tooltip!" }})
      = daisy_badge(text: "Hover Me", css: "badge-secondary tooltip", html: { data: { tip: "This is a badge tooltip!" }})

    = daisy_alert(css: "tooltip tooltip-bottom tooltip-success", html: { data: { tip: "This is an alert tooltip!" }}) do
      Here is an alert with a bottom tooltip!

    = daisy_chat do |chat|
      - chat.with_avatar(css: "tooltip tooltip-left tooltip-info", html: { data: { tip: "This is a left avatar tooltip!" } }, src: image_path("avatars/lady-smiling-3"))
      - chat.with_bubble do
        .tooltip.tooltip-right.tooltip-primary{ data: { tip: "This is a right chat bubble tooltip!" } }
          Here is some text that also has a tooltip!


= doc_example(title: "Wrapper Tooltips") do |doc|
  - doc.with_description do
    :markdown
      Sometimes, you may need to wrap the entire component in a tooltip.

      For this, we offer the very basic `daisy_tooltip` component which has a
      `tip` argument to simplify your code a bit.

  .flex.flex-col.gap-8
    - # Manual-style HAML tootlip
    .tooltip{ data: { tip: "This is a progress tooltip!" } }
      = daisy_progress(value: 42, css: "w-56")

    = daisy_tooltip(tip: "This is a radial tooltip!") do
      = daisy_radial(value: 58) do
        58%

    = daisy_tooltip(css: "tooltip-bottom tooltip-info", tip: "We're loading a skeleton tooltip!") do
      = daisy_skeleton(css: "w-56 h-24")
