= doc_title(title: "Avatars", comp: @comp) do |title|
  :markdown
    User profile image components with fallback options and status indicators.
    Supports photos, initials, or icons with online/offline status dots for
    representing users in chat interfaces and user lists.


= doc_example(title: "Basic Avatars") do |doc|
  - doc.with_description do
    :markdown
      You can use the Avatar component to display a user's profile picture,
      icon, or initials. You can also add an online or offline indicator.

  - # Lady 0 is skipped / unused because she looks kinda fake
  - ladies = (1..4).map { |i| image_path("avatars/lady-smiling-#{i}.jpg") }

  .mt-4.flex.flex-col.lg:flex-row.items-center.gap-4
    - # Avatar without online indicator
    = daisy_avatar(src: ladies[1]) do
      Daisy

    - # Avatar with online indicator
    = daisy_avatar(css: "avatar-online", src: ladies[2]) do
      Daisy

    - # Avatar with offline indicator
    = daisy_avatar(css: "avatar-offline", src: ladies[3]) do
      Daisy

    - # Placeholder avatar without online indicator
    = daisy_avatar do
      AB

    - # Placeholder avatar with icon & online indicator
    = daisy_avatar(css: "avatar-online", icon: "user", icon_css: "size-14 text-sky-400")

    - # Placeholder avatar with offline indicator
    = daisy_avatar(css: "avatar-offline") do
      TF


= doc_example(title: "Linked Avatars") do |doc|
  - doc.with_description do
    :markdown
      You can link the Avatar component to a URL by using the `href` attribute.

  .space-x-4
    - # Avatar with link and title
    = daisy_avatar(href: "/", title: "Jane Doe", src: image_path("avatars/lady-smiling-1.jpg")) do
      Daisy

    - # Avatar with online indicator and link
    = daisy_avatar(href: "/", css: "avatar-online", src: image_path("avatars/lady-smiling-2.jpg")) do
      Daisy
