.prose.lg:prose-lg
  %h2 Avatars

  %p Here are some simple avatar examples.

- lady1 = image_path("lady-smiling-1.png")

.mt-4.flex.flex-row.items-center.gap-x-4
  - # Avatar without online indicator
  = daisy_avatar(src: lady1) do
    Daisy

  - # Avatar with online indicator
  = daisy_avatar(css: "online", src: lady1) do
    Daisy

  - # Avatar with offline indicator
  = daisy_avatar(css: "offline", src: lady1) do
    Daisy

  - # Placeholder avatar without online indicator
  = daisy_avatar do
    AB

  - # Placeholder avatar with online indicator
  = daisy_avatar(css: "online") do
    AB

  - # Placeholder avatar with offline indicator
  = daisy_avatar(css: "offline") do
    AB

.flex.flex-row.items-center.gap-x-4
