= doc_title(title: "Collapses", comp: @comp) do |title|
  %p Here are some simple collapse examples.


= doc_example(title: "Basic Collapse") do |doc|
  - doc.with_description do
    %p
      Collapses are transparent by default and add additional padding.

  .mx-auto{ class: "w-[400px]" }
    = daisy_collapse(title: "Click to Open") do |collapse|
      This is the content of the collapse.


= doc_example(title: "Arrow & Plus Collapses") do |doc|
  - doc.with_description do
    :markdown
      You can apply the `collapse-arrow` or `collapse-plus` CSS modifiers
      directly to each collapse.

  .flex.flex-col.gap-4{ class: "w-[400px]" }
    = daisy_collapse(title: "Click to Open", css: "bg-base-100 border border-base-300 collapse-arrow") do |collapse|
      This is the content of the arrow collapse.

    = daisy_collapse(title: "Click to Open", css: "bg-base-100 border border-base-300 collapse-plus") do |collapse|
      This is the content of the plus collapse.


= doc_example(title: "Advanced Collapse") do |doc|
  - doc.with_description do
    %p
      You can also customize the collapse with any HTML you desire!

  .mx-auto{ class: "w-[400px]" }
    = daisy_collapse(css: "collapse-arrow bg-base-200 border border-base-300") do |collapse|
      - collapse.with_title(css: "collapse-title bg-base-300") do
        .flex.gap-x-2.items-center
          = heroicon("user-circle", class: "size-6")
          %strong User Profile

      .mt-4.flex.gap-x-4.items-center
        = daisy_avatar(src: image_path("avatars/lady-smiling-1.jpg"))
        %div
          .text-xl.font-bold Jane Oliver
          .italic jane@oliver.test
