.prose.lg:prose-lg
  %h2 Stats

  %p Here are some simple stats examples.

.mt-4.flex.flex-row.items-center.gap-x-4.border.rounded-lg
  = daisy_stat do
    1000

  = daisy_stat( title: "Views", description: "Views in the last 24 hours.") do
    1000

  - #Example passing options as blocks. This allows you to pass in HTML.
  = daisy_stat do |stat|
    - stat.with_title do
      %p.stat-title Some word
    1000

    - stat.with_description do
      %p.stat-desc This is a brief description of the number seen above.
      - # %p.stat-desc is in-line CSS that will allow you to add your own styles if you wish to customize it to your preference.

.mt-8.flex.flex-row.items-center.gap-x-4.border.rounded-lg
  = daisy_stat(title: "Tasks", description: "Completed this month.", src: image_path("avatars/lady-smiling-1.jpeg")) do
    25

  = daisy_stat(title: "Tasks", description: "Completed this month.", icon: "academic-cap") do
    25

  = daisy_stat do |stat|
    - stat.with_title do
      %p.stat-title Some word
    1000

    - stat.with_description do
      %p.stat-desc This is a brief description of the number seen above.

    - stat.with_figure do
      = daisy_badge(css: "badge-primary") do
        Text
