= doc_title(title: "Tables", comp: @comp) do |title|
  %p Here are some examples showcasing tables.


= doc_example(title: "Basic Table") do |doc|
  - data = [{col1: "foo", col2: "bar"}, {col1: "fizz", col2: "buzz"}]

  = daisy_table do |table|
    - table.with_head do |head|
      - head.with_column do
        Column 1
      - head.with_column do
        Column 2

    - data.each do |d|
      - table.with_row do |row|
        - row.with_column do
          = d[:col1]
        - row.with_column do
          = d[:col2]


= doc_example(title: "Pinning Rows (Using Sections)") do |doc|
  - doc.with_description do
    %p
      The following example shows how to have a table with multiple headers
      pinned as you scroll.

  .size-96.border.border-base-300.rounded.overflow-y-auto
    = daisy_table(css: "bg-base-100 table-pin-rows") do |table|
      - (0..90).step(10).with_index do |step, index|
        - table.with_section do |section|
          - section.with_head do |head|
            - head.with_column(css: 'bg-secondary text-secondary-content') do
              - if step == 0
                1900s
              - else
                = "19#{index * 10}s"

          - section.with_body do |body|
            - (0..9).each do |i|
              - body.with_row do |row|
                - row.with_column do
                  - if step == 0
                    = "190#{step + i}"
                  - else
                    = "19#{step + i}"
