= doc_title(title: "Calendars", comp: @comp) do |title|
  :markdown
    LocoMotion offers support for the [Cally](https://wicky.nillia.ms/cally/)
    calendar web component styled by DaisyUI.

  = doc_note(modifier: :warning) do
    :markdown
      You must include the Cally script tag or
      <a target="_blank" href="https://wicky.nillia.ms/cally/#installation">node module</a>
      in your application for this component to render and function properly.

    = doc_code(language: "sh") do
      :plain
        npm install cally # or yarn add cally

    = doc_code(language: "js") do
      :plain
        # application.js
        import "cally";


= doc_example(title: "Calendar", example_css: "flex-col", allow_reset: true) do |doc|
  - doc.with_description do
    :markdown
      Calendars can be used to select a single date. Use the `update` option to
      pass a CSS selector of a `<div>` or other element to update.

      Note that this uses the `onchange` event along with `querySelector` to
      provide a very basic change system. You may want to use Stimulus
      controllers to handle more complex scenarios.

    = doc_code(language: "js") do
      :plain
        { onchange: "document.querySelector('\#{@update}').innerHTML = this.value" }

  = daisy_cally(update: "#cally")

  #cally.text-center.italic
    Select a date...


= doc_example(title: "Calendar with Input", example_css: "flex-col", allow_reset: true) do |doc|
  - doc.with_description do
    :markdown
      You can utilize the `change` option to change the value of an HTML input
      when a date is selected.

      Similar to the `update` option, this uses `onchange` and `querySelector`,
      but is specialized for updating an input element's `value`.

  = daisy_input(id: "cally_input", placeholder: "Select a date...")
  = daisy_cally(change: "#cally_input")


= doc_example(title: "Calendar with Dropdown", example_css: "flex-col", tab_content_css: "overflow-visible!", allow_reset: true) do |doc|
  - doc.with_description do
    :markdown
      In general, we recommend using standard HTML `type='date'` or
      `type='time'` inputs as they provide a better mobile experience.

      However, if you need more control over the appearance or functionality,
      you can use the `cally` component with an input and a dropdown.

    = doc_note(css: "mb-8", modifier: :tip) do
      :markdown
        In the future, we should be able to use the new
        <a target="_blank" href="https://daisyui.com/components/dropdown/#method-2-popover-api-and-anchor-positioning">Popover</a>
        functionality that HTML & CSS provide, but we've been having trouble
        getting it to reliably work with the calendar and an input.

  - a_week_away = 7.days.from_now.to_date.to_fs(:iso8601)
  .w-80.space-y-2
    = daisy_input(css: "w-full", placeholder: "Name...")
    = daisy_dropdown(css: "w-full dropdown-end") do |dropdown|
      - dropdown.with_input(label_wrapper_css: "w-full", id: "cally_dd_input", change: "#cally_dd_cal", value: a_week_away, placeholder: "Select a date...") do |input|
        - input.with_start do
          = hero_icon("calendar")

      = daisy_cally(id: "cally_dd_cal", change: "#cally_dd_input", value: a_week_away,
        css: "bg-base-100 border border-base-300 shadow-lg rounded-lg dropdown-content")


= doc_example(title: "Calendar Range", allow_reset: true) do |doc|
  - doc.with_description do
    :markdown
      Calendars can also allow selection of a range of dates.

  = daisy_card(css: "card-border bg-base-100 shadow-lg") do
    = daisy_cally(modifier: :range, months: 2, months_css: "grid md:grid-cols-2 gap-8", change: "#cally_range")

    #cally_range.text-center.italic
      Select a date range...
