= doc_title(title: "Cally Inputs", comp: @comp) do |title|
  %p
    Cally Inputs combine a Daisy text input field with a Cally calendar using
    the new HTML
    = daisy_link(title: "Popover API ↗", target: "_blank", href: "https://developer.mozilla.org/en-US/docs/Web/API/Popover_API")
    for intuitive date selection.

  %p
    This component provides an elegant alternative to standard HTML date inputs
    while maintaining a consistent visual style with other form components.


= doc_example(title: "Basic Usage") do |doc|
  - doc.with_description do
    :markdown
      The basic Cally Input provides a text field that, when clicked, displays a
      calendar popover for date selection.

    = doc_note(modifier: :tip, css: "mb-8") do
      %p
        For keyboard navigation, you can use the
        = daisy_kbd("space")
        or
        = daisy_kbd("↓")
        keys to open the calendar popover.

  = daisy_cally_input(value: "2025-07-24")


= doc_example(title: "Custom Input") do |doc|
  - doc.with_description do
    :markdown
      You can customize the input or calendar by using the appropriate slots.

      We offer the `input_popover_options` and `calendar_popover_options`
      methods to provide the appropriate popover functionality.

  = daisy_cally_input(popover_css: "dropdown-top dropdown-center") do |c|
    = c.with_input(placeholder: "Select a date...")
    = c.with_calendar(css: "bg-accent")
