!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title LocoDemo
    %meta{:content => "width=device-width,initial-scale=1", :name => "viewport"}/
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag "application", "data-turbo-track": "reload"
    = javascript_include_tag "application", "data-turbo-track": "reload", type: "module"
  %body
    .flex.flex-row.justify-between.items-center.m-2.p-2.rounded.bg-red-600.text-white
      %span
        Here is a non-component alert example using only Tailwind!
      = render(Daisy::Actions::ButtonComponent.new(css: 'btn-outline btn-sm', title: "Boom"))
    .my-2
      = daisy_modal(css: "something") do |modal|
        - modal.with_activator do
          = daisy_button(css: 'btn-primary', html: { onclick: "document.getElementById('#{modal.dialog_id}').showModal()" }) do
            Open Modal

        Here is some modal content...
      = yield
