!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title LocoMotion
    %meta{:content => "width=device-width,initial-scale=1", :name => "viewport"}/
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag "application", "data-turbo-track": "reload"
    = javascript_include_tag "application", "data-turbo-track": "reload", type: "module"

    %link{ href: "https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/atom-one-dark.min.css", rel: "stylesheet" }/
    %script{ src: "https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js" }
    %script{ src: "https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/languages/haml.min.js" }
    %script{ src: "https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/languages/erb.min.js" }
    %script{ src: "https://cdn.jsdelivr.net/npm/animejs@3.2.2/lib/anime.min.js" }

  - header_classes = "sticky z-30 top-0 px-4 border-b border-gray-200 backdrop-blur-xs bg-base-100/90 dark:bg-slate-800"
  - nav_classes = "w-64 bg-base-100"
  - footer_classes = "md:flex md:items-center md:justify-center md:space-x-1 mt-4 py-4 text-sm whitespace-nowrap"

  %body.relative{ "data-controller": "nav" }
    %div{ class: header_classes }
      .mx-auto{ class: "max-w-[1440px]" }
        = render partial: "application/header"

    .drawer.xl:drawer-open
      %input.drawer-toggle{ type: "checkbox", id: "sidenav-drawer", data: { "nav-target": "sidenavCheckbox" } }

      .drawer-content.overflow-hidden
        .xl:pl-64.mx-auto{ class: "max-w-[1440px]" }
          %turbo-frame#content.block.p-4
            = yield

          %div{ class: footer_classes }
            = render partial: "application/footer"

      .drawer-side.z-20{ class: "mt-[65px] xl:fixed! xl:mt-0 xl:top-[65px] xl:left-[max(0px,calc(50vw-734px))] h-[calc(100vh-65px)]" }
        %label.drawer-overlay{ for: "sidenav-drawer", aria_label: "Close Sidebar" }

        %div{ class: nav_classes }
          = render partial: "application/navigation"

