!!!
%html.scroll-p-20
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title
      = (yield :page_title || "")
      | LocoMotion
    %meta{:content => "width=device-width,initial-scale=1", :name => "viewport"}/
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag "application", "data-turbo-track": "reload"
    = algolia_credentials_tag
    = javascript_include_tag "application", "data-turbo-track": "reload", type: "module"

    %link{ href: "https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/atom-one-dark.min.css", rel: "stylesheet" }/
    %link{ crossorigin: "anonymous", href: "https://cdn.jsdelivr.net/npm/instantsearch.css@8.5.1/themes/satellite-min.css", integrity: "sha256-woeV7a4SRDsjDc395qjBJ4+ZhDdFn8AqswN1rlTO64E=", rel: "stylesheet" }/

    %script{ src: "https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js" }
    %script{ src: "https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/languages/haml.min.js" }
    %script{ src: "https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/languages/erb.min.js" }
    %script{ src: "https://cdn.jsdelivr.net/npm/animejs@3.2.2/lib/anime.min.js" }


  - header_classes = "sticky z-30 top-0 px-4 border-b border-base-300 backdrop-blur-xs bg-base-100/90"
  - nav_classes = "w-64 bg-base-100"
  - footer_classes = "md:flex md:items-center md:justify-center md:space-x-1 mt-4 py-4 text-sm whitespace-nowrap"

  %body.relative{ "data-controller": "nav ads", "data-action": "turbo:load@window->ads#refresh" }
    %div{ class: header_classes }
      .mx-auto{ class: "max-w-[1440px]" }
        = render partial: "application/header"

    .drawer.xl:drawer-open
      %input.drawer-toggle{ type: "checkbox", id: "sidenav-drawer", data: { "nav-target": "sidenavCheckbox" } }

      .drawer-content.overflow-hidden
        .xl:pl-64.mx-auto{ class: "max-w-[1440px]", "data-ads-target": "content" }
          %turbo-frame#content.block.p-4
            = yield

          %div{ class: footer_classes }
            = render partial: "application/footer"

      .drawer-side.z-20{ class: "mt-[65px] xl:fixed! xl:mt-0 xl:top-[65px] xl:left-[max(0px,calc(50vw-734px))] h-[calc(100vh-65px)]" }
        %label.drawer-overlay{ for: "sidenav-drawer", aria_label: "Close Sidebar" }

        %div{ class: nav_classes }
          = render partial: "application/navigation"

    - # Hide ads on the home page
    .hidden.fixed.overflow-scroll.bottom-0.w-65.p-4.space-y-4{ class: "top-[calc(65px_+_var(--spacing))] right-[max(0px,calc(50vw-734px))]", "data-ads-target": "ads" }
      = render partial: "ads/privacy"
      = render partial: "ads/honeybook"
      = render partial: "ads/ftc_notice"

    = daisy_modal(dialog_id: "al-search-modal", closable: false,
        backdrop_css: "backdrop-blur-xs",
        box_css: "flex flex-col max-w-3xl h-9/10 md:h-3/4 p-0! bg-base-200",
        actions_css: "mt-0 border-t border-neutral-content dark:border-base-300",
        html: { "data-turbo-permanent": true }) do |modal|

      - # We already have a different button to activate the search, so we don't
      - # need this one; thus the hidden CSS
      - modal.with_button(title: "Search Documentation", css: "hidden")

      - modal.with_start_actions(css: "flex flex-col md:flex-row md:items-center gap-4 px-4 py-2 text-sm") do
        .flex.flex-row.items-center.gap-2
          = daisy_kbd do
            %svg.size-4{fill: "none", stroke: "currentColor", "stroke-width" => "1.5", viewbox: "0 0 24 24", xmlns: "http://www.w3.org/2000/svg"}
              %path{d: "m7.49 12-3.75 3.75m0 0 3.75 3.75m-3.75-3.75h16.5V4.499", "stroke-linecap" => "round", "stroke-linejoin" => "round"}

          %span
            to select

        .flex.flex-row.items-center.gap-2
          = daisy_kbd do
            = hero_icon("arrow-up", css: "size-4")
          = daisy_kbd do
            = hero_icon("arrow-down", css: "size-4")
          %span
            to navigate

        .flex.flex-row.items-center.gap-2
          = daisy_kbd("esc")
          %span
            to close

      - modal.with_end_actions(css: "p-4") do
        #al-poweredby
        #al-poweredby-dark

      #al-searchbox.mx-4.mt-4
      .grow.overflow-auto.rounded-lg.p-2
        #al-hits
        #al-stats
