= part(:component) do
  - if activator?
    = activator
  - else
    = button

  - if items.any?
    = part(:menu) do
      - items.each do |item|
        = part(:menu_item) do
          = item
  - else
    = content
