= part(:component) do
  - if activator?
    = activator
  - elsif input?
    = input
  - else
    = button

  - if items.any?
    = part(:menu) do
      - items.each do |item|
        = item
  - else
    = content
