= part(:component) do
  - if activator?
    = activator
  - elsif button?
    = button
  - else
    = content

  - if close?
    = close

  - if main_action?
    = main_action

  - actions.each do |action|
    = action
