- if activator?
  = activator
- else
  = button

= part(:component) do
  = part(:box) do
    - if closable?
      = part(:close_icon_wrapper) do
        = part(:close_icon) do
          - if close_icon?
            = close_icon
          - else
            = loco_icon "x-mark", css: "size-6"

    - if title?
      = title
    - elsif @simple_title.present?
      = part(:title) do
        = @simple_title

    - if @turbo_frame_id.present?
      = part(:turbo_frame) do
        = content
    - else
      = content

    - if leading_actions? || trailing_actions?
      = part(:actions) do
        = part(:leading_actions) do
          - if leading_actions?
            = leading_actions
        = part(:trailing_actions) do
          - if trailing_actions?
            = trailing_actions

  = part(:backdrop) do
    %button close
