= part(:component) do
  - if previous_id
    .flex-1
      = daisy_button(href: send(path_helper, previous_id), html: { data: { action: "click->nav#refresh", "turbo-action": "replace" } }, css: "px-4 py-6") do
        .flex.flex-row.items-center
          = hero_icon("arrow-long-left", css: "mr-4")
          .text-left
            .text-xs{ class: "text-base-content/50" } Previous
            .font-bold= previous_title
  - else
    .flex-1

  - if next_id
    .flex.justify-end.flex-1
      = daisy_button(href: send(path_helper, next_id), html: { data: { action: "click->nav#refresh", "turbo-action": "replace" } }, css: "px-4 py-6") do
        .flex.flex-row.items-center
          .text-right
            .text-xs{ class: "text-base-content/50" } Next
            .font-bold= next_title
          = hero_icon("arrow-long-right", css: "ml-4")
