= part(:component) do
  = part(:content_wrapper) do
    .flex.items-center.space-x-2
      - if @icon
        = loco_icon(@icon, html: { **rendered_html(:icon) })
      - elsif @default_icon
        = loco_icon(@default_icon, html: { **rendered_html(:icon) })
      .text-xl.font-bold
        = @title || @default_title

    .mt-3
      = content
