= part(:component) do
  - if @simple_title.present?
    = part(:title) do
      = simple_title

  - if description?
    .prose
      = description

  = part(:template) do
    = content

  = daisy_tabs(css: "tabs-lift tabs-sm relative") do |tabs|
    - tabs.with_tab(active: true, html: active_tab_html, css: "px-6! rounded-t-lg!") do |tab|
      - tab.with_title do
        .flex.gap-x-2.items-center
          %span.w-4.h-4
            = heroicon("computer-desktop", class: "size-4")
          %span.whitespace-nowrap Preview

      - tab.with_custom_content(css: "#{tab_content_css} py-10 bg-repeat", html: background_pattern) do
        = part(:example) do
          = content

    - tabs.with_tab(css: "px-6! rounded-t-lg! [&.tab-active]:[--tab-bg:#282c34]! [&.tab-active]:text-white!", html: active_tab_html) do |tab|
      - tab.with_title do
        .flex.gap-x-2.items-center
          %span.w-4.h-4
            = heroicon("code-bracket", class: "size-4")
          %span.whitespace-nowrap Code

      - tab.with_custom_content(css: "#{tab_content_css} w-full") do
        = part(:pre) do
          = part(:code) do
            = code.join.strip

    - if allow_reset
      - tabs.with_tab(css: reset_css, html: reset_html) do |tab|
        - tab.with_title(css: "flex gap-x-2 items-center text-xs") do
          %span.w-3.h-3
            = heroicon("arrow-path", class: "size-3")
          %span.whitespace-nowrap Reset
