= content_for(:page_title) do
  = @simple_title

= part(:component) do
  = part(:title_wrapper) do
    = part(:title) do
      = @simple_title
    = part(:actions) do
      = api_button

  = part(:description) do
    = content
